* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body, h1, p, button {
    text-align: center;
    background-color: #0F172A;
    color: white;
    padding: 24px;
    margin: 10px 0;
}

button {
    border-radius: 16px;
    cursor: pointer;
    background-color: #3B82F6;
    transition: .3s ease;
}

button:hover {
    background-color: #2563EB;
}