* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #0F172A;
    color: white;
}

h1, p, button {
    background-color: #1E293B;
    padding: 24px;
    margin: 10px 0;
}

button {
    border-radius: 16px;
    cursor: pointer;
    background-color: #3B82F6;
    transition: .3s ease;
}

button:hover {
    background-color: #2563EB;
}